<?xml version="1.0"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
  version="2.4">
  
  <!-- Expose resources to JSTL -->
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>sendmail.ui.ApplicationResources</param-value>
  </context-param>

  <context-param> 
    <param-name>contextConfigLocation</param-name> 
    <param-value>/WEB-INF/applicationContext*.xml</param-value> 
  </context-param> 

  <listener> 
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class> 
  </listener> 

  <!-- Standard Action Servlet Configuration (with debugging) -->
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts/struts-config.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!-- Standard Action Servlet Mapping -->
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>

  <!-- The Usual Welcome File List -->
  <welcome-file-list>
    <welcome-file>index.jspx</welcome-file>
  </welcome-file-list>

  <jsp-config>
    <!-- Define symbolic names for taglibs -->
    <taglib>
            <taglib-uri>/tld/struts-html</taglib-uri>
            <taglib-location>/WEB-INF/tld/struts-html.tld</taglib-location>
    </taglib>
    <taglib>
            <taglib-uri>/tld/jstl-c</taglib-uri>
            <taglib-location>/WEB-INF/tld/c.tld</taglib-location>
    </taglib>
    <taglib>
            <taglib-uri>/tld/jstl-fmt</taglib-uri>
            <taglib-location>/WEB-INF/tld/fmt.tld</taglib-location>
    </taglib>

    <!-- Disable scripting in JSPs -->    
		<jsp-property-group>
			<url-pattern>*.jspx</url-pattern>
			<scripting-invalid>true</scripting-invalid> 
		</jsp-property-group>
  </jsp-config>

</web-app>